.google-map {
    position: relative;
    margin-top: 5%;
    height: 400px;
    width: 100%;
}
#contact {
    background: #f7f7f7;
    padding: 80px 0;
}

.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: rgb(10, 214, 57);
    margin: 0 auto;
    margin-bottom: 0;
}

.section-description {
    text-align: center;
    margin-bottom: 40px;
}

